NODE_ENV=dev
MONGO=mongodb://127.0.0.1:27017/<%= moduleName %>
SECRET=YOURSESSIONSECRET
PORT=8000

### Set NODE_ENV from 'dev' to 'prod' to improve app performance and transpile/minify/compress build
